[build-system]
requires = ["azure-core<=1.18.*", "msrest", "setuptools>=40.8.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 99
target-version = ['py36', 'py37', 'py38', 'py39']
